# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# FastAPI / Uvicorn
*.log

# Build & distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pyre/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Uploads & storage
uploads/
media/
storage/
!services/storage/
!services/storage/**

# Cache
.cache/

# Docker
docker-compose.override.yml

resources/


cloud-run-api.env
cloud-run-worker.env

# Secrets & credentials
apps/secrets/
**/secrets/
firebase-admin.json
*-credentials.json
serviceAccountKey.json
*.pem
*.key

